<h1>Édition : <%= @todo.description %></h1>
<%= form_tag todo_path(@todo), method: :patch do |f| %>
  <p>
    <%= label_tag :description %>
    <%= text_field_tag :description, @todo.description, autofocus: true %>
    <strong><%= @todo.errors[:description].to_sentence %></strong>
  </p>
  <p>
    <%= label_tag :notes %>
    <%= text_area_tag :notes, @todo.notes, rows: 20, cols: 80 %>
  </p>
  <p>
    <%= submit_tag "Enregistrer les modifications" %>
    ou
    <%= link_to "annuler", todo_path(@todo) %>
  </p>
<% end %>
