<h1>Nouvelle tâche</h1>
<%= form_tag todos_path do %>
  <fieldset>
    <%= label_tag :description, "Description" %>
    <%= text_field_tag :description, @todo.description, autofocus: true %>
    <strong><%= @todo.errors[:description].to_sentence %></strong>
  </fieldset>
  <p>
    <%= submit_tag "Ajouter cette tâche" %>
    ou
    <%= link_to "annuler", todos_path %>
  </p>
<% end %>
