<%= link_to "Tâches à faire", todos_path %>
<h1><%= @todo.description %></h1>
<p>
  <% @todo.notes.each_line do |line| %>
    <%= line %><br>
  <% end %>
</p>
<p>
  <%= link_to 'Modifier', [:edit, @todo] %>
  ou
  <%= link_to 'supprimer', @todo, method: :delete,
                                  data: {confirm: "Supprimer cette tâche ?"} %>
</p>
